* {
box-sixing: border-box;
}
.row::after {
content: "";
clear: both;
display: table;
}
[class*="col-"] {
    float: left;
}
[class*="col-"] {
width: 100%;
}
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
html {
background-color: white;
font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
body {
background-image: url("background2.jpg"); 
}
a {
target="_blank";
}
h1 {
color: blue;
font-size: 400%;
text-align: center;
}
h2 {
color: blue;
text-align: center;
font-size: 250%;
}
img {
max-width: 100%;
height: auto;
}
.col-6#paragraph {
text-align: left;
font-size: 150%;
}
.col-3#statistics1 {
text-align: center;
font-size: 150%;
}
.col-3#statistics2 {
text-align: center;
font-size: 150%
}
.col-6#setlist {
font-size: 350%;
color: #00cc66;
text-align: center;
}
@media(min-width: 600px) {
.col-6#setlist {font-size: 550%;}
}
.col-6#photo_album { 
align: center;
}
.col-4#songs1-8 {
text-align: center;
font-size: 175%;
}
.col-4#songs9-16 {
text-align: center;
font-size: 175%;
}
.col-4#songs17-23 {
text-align: center;
font-size: 175%;
}

